.header__content {
  position: absolute;
  top: 30%;
  left: 5%;
  background: #ffffffad;
  padding: 1%;
  border-radius: 4px;
}

.header__content > h1:nth-child(1) {
  margin: 0;
  font-size: larger;
  font-weight: 900;
  font-size: small;
  text-transform: capitalize;
  text-decoration: underline;
}

.header__content > h2:nth-child(2) {
  margin-bottom: 0;
  font-size: larger;
  text-transform: uppercase;
}

.header__content > p:nth-child(3) {
  margin-top: 5px;
}

@media only screen and (max-width: 667px) {
  .header__content {
    top: 20%;
    margin-right: 6%;
  }
  .header__content > h1:nth-child(1) {
    font-size: x-small;
  }
}
