.movie__cover-img {
  position: relative;
}

.movie__cover-img img {
  width: 100%;
  height: 95vh;
}

.movie__details {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  top: 50%;
  left: 50%;
  border: 2px solid chocolate;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2% 5%;
  background-color: #008b8b6e;
  color: white;
}

.movie .heading {
  text-align: center;
  text-transform: uppercase;
  color: #000000b5;
  font-size: larger;
}

.movie__actors {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 1% 4%;
  padding: 0 5%;
  margin-top: 3%;
}

.movie__actors .actor {
  position: relative;
}

.movie__actors .actor img {
  width: 100%;
}

.movie__actors .actor--name {
  position: absolute;
  bottom: 0;
  left: 10%;
  color: #ffffffdb;
  opacity: 0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.movie__actors .actor:hover > .actor--name {
  opacity: 1;
  border: 1px solid;
  padding: 1% 2%;
  background-color: rgba(0, 0, 0, 0.404);
}

@media only screen and (max-width: 667px) {
  .movie__details {
    padding: 0px 5%;
    width: 90%;
    height: 100%;
    border: none;
  }
  .movie__cover-img img {
    height: 50vh;
  }
  .movie__actors .actor--name {
    font-size: x-small;
    left: 0;
    margin: auto;
  }
}
