.movie {
  &__cover-img {
    position: relative;

    img {
      width: 100%;
      height: 95vh;
    }
  }

  &__details {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    top: 50%;
    left: 50%;
    border: 2px solid chocolate;
    transform: translate(-50%, -50%);
    padding: 2% 5%;
    background-color: #008b8b6e;
    color: white;
  }

  .heading {
    text-align: center;
    text-transform: uppercase;
    color: #000000b5;
    font-size: larger;
  }

  &__actors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1% 4%;
    padding: 0 5%;
    margin-top: 3%;

    .actor {
      position: relative;

      img {
        width: 100%;
      }
      &--name {
        position: absolute;
        bottom: 0;
        left: 10%;
        color: #ffffffdb;
        opacity: 0;
        transition-duration: 0.2s;
      }

      &:hover > .actor--name {
        opacity: 1;
        border: 1px solid;
        padding: 1% 2%;
        background-color: rgba(0, 0, 0, 0.404);
      }
    }
  }
}

@media only screen and (max-width: 667px) {
  .movie {
    &__details {
      padding: 0px 5%;
      width: 90%;
      height: 100%;
      border: none;
    }
    .heading {
      font-size: x-small;
    }
    &__cover-img img {
      height: 22rem;
    }
    &__actors {
      .actor--name {
        font-size: x-small;
        left: 0;
        margin: auto;
      }
    }
  }
}
