.container {
  .nav {
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;

    .button--switch {
      position: relative;
      display: inline-block;
      width: 55px;
      height: 30px;

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgb(241, 241, 241);
        transition: 0.4s;

        &:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 45%;
          left: 2px;
          bottom: 2px;
          background-color: #0c0c0ced;
          transition: 0.4s;
        }
      }

      input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .slider {
          background-color: #0c0c0ced;
        }

        &:checked + .slider:before {
          background-color: rgb(241, 241, 241);
        }

        &:checked + .slider:before {
          transform: translateX(100%);
        }
      }

      /* Rounded sliders */
      .round {
        border-radius: 34px;

        &:before {
          border-radius: 50%;
        }
      }
    }
  }

  .header {
    // margin-bottom: 5%;
    position: relative;

    img {
      width: 100%;
      height: 90vh;
    }
  }

  .populaer-movie {
    padding: 0 5%;

    .heading {
      display: inline-block;
      text-transform: uppercase;
      border-bottom: 1px solid #000000b5;
      color: #000000b5;
      font-size: larger;
    }
  }

  .main-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem 4%;

    padding: 0 5%;
    color: rgba(0, 0, 0, 0.753);

    & > a {
      width: 100%;
      position: relative;

      img {
        width: 100%;
      }

      .view-details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        transition-duration: 0.4s;

        h3 {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-transform: uppercase;
          border: 1px solid;
          font-size: 80%;
          padding: 1%;
          opacity: 0;
        }
        &:hover > h3 {
          opacity: 1;
          transition: ease-out 0.4s;
        }
      }
      &:hover > .view-details {
        background-color: #ececec82;
        transition: ease-out 0.4s;
      }
    }

    .btn-relod {
      text-align: center;
      grid-column: 1/-1;

      button {
        padding: 5px 10px;
        font-size: large;
        font-weight: 600;
        text-transform: uppercase;
        color: cadetblue;
        margin-bottom: 1%;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.377);
        color: rgba(0, 0, 0, 0.377);
        transition-duration: 0.4s;

        &:hover {
          background-color: rgba(0, 0, 0, 0.644);
          color: rgba(248, 248, 247, 0.822);
        }
      }
    }
  }
}

@media only screen and (max-width: 667px) {
  .container {
    .header {
      img {
        height: 20rem;
      }
    }
  }
}
